<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Thymeleaf</title>

    <link rel="stylesheet" th:href="@{/style/css/bootstrap.css}" />
</head>
<body>
<form th:action="@{/submitForm}" th:object="${userForm}" method="post">
    <div>
        <label for="name">Nombre:</label>
        <input type="text" id="name" th:field="*{name}" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" />
    </div>
    <div>
        <button type="submit">Enviar</button>
    </div>
</form>
</body>
</html>
