<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Forms / Elements - Sensor SAT Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{assets/img/favicon.png}" rel="icon">
    <link th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:30F0,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<div th:insert="~{common/html/common-head-info :: common-head-info}"></div>
<!-- ======= Sidebar ======= -->
<div th:replace="common/html/common-menu :: common-menu"></div>
<!-- End Sidebar-->

            <main id="main" class="main">

                <div class="pagetitle">
                    <h1>Registro Rios</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Rio</li>
                        </ol>
                    </nav>
                </div><!-- End Page Title -->

                <section class="section">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">

                                <div class="card-body">
                                    <h5 class="card-title">Rio </h5>

                                    <form action="#" th:action="@{/inside/river}" method="post" th:object="${river}"
                                          class="row g-3">
                                        <div class="col-md-12">
                                            <input th:field="*{id}" type="hidden">
                                            <div class="form-floating">
                                                <input th:field="*{name}" type="text" class="form-control"
                                                       id="floatingName" maxlength="159" required
                                                       placeholder="Nombre del rio">
                                                <label for="floatingName">Nombre</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-floating">
                                                <input th:field="*{depth}" type="text" class="form-control"
                                                       id="floatingDepth" maxlength="159" required
                                                       placeholder="Profundidad del rio">
                                                <label for="floatingName">Profundidad</label>
                                            </div>
                                        </div>
                                            <div class="col-md-12">
                                                <div class="form-floating">
                                                    <select th:field="*{sensor.id}" class="form-select" aria-label="Default select example" id="txtSensor">
                                                        <option value="*" selected>Seleccione una opción</option>
                                                        <option th:each="sensorr : ${sensors}"
                                                                th:value="${sensorr.id}"
                                                                th:text="${sensorr.name}"></option>
                                                    </select>
                                                    <label for="txtSensor">Asocie un Sensor</label>
                                                </div>
                                            </div>
                                        <div class="col-md-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" th:field="*{active}"
                                                       th:checked="*{active}" id="active">
                                                <label class="form-check-label" for="active">
                                                    Activo
                                                </label>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Registrar o modificar</button>
                                            <button type="reset" class="btn btn-secondary">Limpiar</button>
                                        </div>
                                    </form>


                                </div>
                            </div>

                            <div th:if="${showRiverSavedOk}"
                                 class="col-md-12 alert alert-success alert-dismissible fade show" role="alert">
                                <i class="bi bi-check-circle me-1"></i>
                                ¡El rio ha sido registrado o modificado con éxito!
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                            <div th:if="${showRiverSavedError}"
                                 class="col-md-12 alert alert-danger alert-dismissible fade show" role="alert">
                                <i class="bi bi-exclamation-octagon me-1"></i>
                                ¡No se ha podido registrar o modificar el rio!
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>

                        </div>

                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Rios</h5>
                                    <p>Lista de todos los rios</p>
                                    <!-- Table with stripped rows -->

                                    <table class="table datatable">
                                        <thead>
                                        <tr>
                                            <th> ID</th>
                                            <th> Rio</th>
                                            <th> Profundidad</th>
                                            <th> Sensor</th>
                                            <th> Activo</th>
                                            <th> Editar</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:if="${ #lists.isEmpty(rivers)}">
                                            <td colspan="2"> No hay rios</td>
                                        </tr>
                                        <tr th:each="river : ${rivers}">
                                            <td><span th:text="${river.id}"> ID </span></td>
                                            <td><span th:text="${river.name}"> Rio </span></td>
                                            <td><span th:text="${river.depth}"> Profundidad </span></td>
                                            <td><span th:text="${river.sensor.name}"> Sensor Asociado </span></td>
                                            <td><span th:text="${river.active ? 'Sí' : 'No'}"
                                                      th:class="${river.active ? 'badge bg-success' : 'badge bg-light text-dark'}"></span>
                                            </td>
                                            <td>
                                                <!-- Create a clickable link with the river ID -->
                                                <a th:href="@{/inside/river/{id}(id=${river.id})}">Editar</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- Table with stripped rows -->
                                    <!-- End Table with stripped rows -->

                                </div>
                            </div>

                        </div>
                    </div>
                </section>


            </main><!-- End #main -->

            <!-- ======= Footer ======= -->
            <footer id="footer" class="footer">
                <div class="copyright">
                    &copy; Copyright <strong><span>SensorSAT</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </footer><!-- End Footer -->

            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                    class="bi bi-arrow-up-short"></i></a>

            <!-- Vendor JS Files -->
            <script type="text/javascript" th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
            <script type="text/javascript" th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
            <script type="text/javascript" th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
            <script type="text/javascript" th:src="@{/assets/vendor/quill/quill.js}"></script>
            <script type="text/javascript" th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
            <script type="text/javascript" th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
            <script type="text/javascript" th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
            <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}" type="text/javascript"></script>

            <!-- Template Main JS File -->
            <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>

 </body>

</html>