<html>

<head>

</head>

<body>
    <!--
        It's reusable HTML fragment to include all the commonos js for the app.
        -->
    <div th:fragment="commons-js">
        <!-- build:js assets/js/vendor.js -->
        <!-- plugins js -->
        <script th:src="@{/style/bower_components/jquery/dist/jquery.min.js}"></script>
        <script th:src="@{/style/bower_components/popper.js/dist/umd/popper.min.js}"></script>
        <script th:src="@{/style/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
        <script th:src="@{/style/bower_components/PACE/pace.min.js}"></script>
        <script th:src="@{/style/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.js}"></script>
        <!-- endbuild -->

        <!-- page plugins js -->
        <script th:src="@{/style/bower_components/jquery-validation/dist/jquery.validate.min.js}"></script>
        <script th:src="@{/style/bower_components/chart.js/dist/Chart.min.js}"></script>
        <script th:src="@{/style/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js}"></script>
        <script th:src="@{/style/node_modules/sweetalert2/dist/sweetalert2.all.min.js}"></script>
        <script th:src="@{/style/bower_components/selectize/dist/js/standalone/selectize.min.js}"></script>
        <script th:src="@{/style/bower_components/gasparesganga-jquery-loading-overlay/dist/loadingoverlay.js}" ></script>


        <!-- personlized js -->
        <script type="text/javascript" th:src="@{/views/common/js/util.js}"></script>

        <!-- page js -->
        <script th:src="@{/style/assets/js/charts/chartjs.js}"></script>
        <!-- build:js assets/js/app.min.js -->
        <!-- core js -->
        <script th:src="@{/style/assets/js/app.js}"></script>
        <!-- endbuild -->

        <!-- page plugins js -->
        <script th:src="@{/style/bower_components/datatables/media/js/jquery.dataTables.js}"></script>

        <!-- page js -->
        <script th:src="@{/style/assets/js/table/data-table.js}"></script>
    </div>
</body>

</html>
